@tailwind base;
@tailwind components;
@tailwind utilities;

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blurred {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(50px);

  height: 256px;
  width: 100vw;
  overflow: auto;
}

@layer components {
  .selected-page {
    @apply bg-zinc-200 dark:bg-zinc-700 text-black inline-flex items-center rounded-md w-full mb-2 px-3 py-2 text-sm font-semibold hover:text-white dark:text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
  }

  .sidebar-btn {
    @apply inline-flex items-center rounded-md w-full mb-2 px-3 py-2 text-sm font-semibold bg-transparent text-black hover:text-white dark:text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
  }
}

.blurred {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}